<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ugotfilm.login.dao.UserDAO">
	<select id="userList" parameterType="int" resultType="UserDTO">
		SELECT * FROM ugotfilm_user where usercode = #{usercode}
	</select>
	
</mapper>